.login-page .full-page > .content {
  padding-top: 8vh;
}

.animation-transition-general {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.avatar-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-inner--icon i:not(.fa) {
  position: relative;
  top: 2px;
}

.sidebar .nav .btn-neutral p, .sidebar .nav .btn-neutral i{
  color: black;
}

.vue-notifyjs .alert .alert-icon {
  font-size: 20px !important;
  margin-right: 5px; 
  margin-bottom: 3px;
}
